<!-- <app-dashboard></app-dashboard> -->
<!-- <app-inventory-table></app-inventory-table> -->
<!-- <app-product-form></app-product-form> -->
<!-- <home></home> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-productspage></app-productspage> -->
<!-- <app-product-page></app-product-page> -->
<!-- <app-about></app-about> -->
<!-- <app-not-found></app-not-found> -->
<!-- <app-successful-pay></app-successful-pay> -->
<!-- <app-cart></app-cart> -->
<router-outlet></router-outlet>
<app-footer></app-footer> 
